<!DOCTYPE html>
<head> 
    <!-- <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="main">
    <h1 id="displayResult">The weather in <%=c%> is: <%=result %> celcius </h1>
<form action="/api" id="weather-form" method="POST" >
  <!-- <form id="weather-form"> -->
    <input id="city-input" type="text" name="city"> 
    <button id="btn" type="button">Search</button>
</form>
    </div>
   
    <!-- <p> </p>            -->
   
   <!-- <p>    <*%=result %>  </p>   -->

</div>    

    

  
  <script>
    
    // var c = document.getElementById('city')
    // var b  = document.getElementById('btn')
    // var h = document.getElementById('header')
    // b.addEventListener('click',async e =>{
    //     console.log(c.value)
    //     // document.write(c.value)
    //     h.innerHTML = 'it is '  + ' in ' + c.value
    // })

  

// // Fetch weather data from API
// const fetchWeather = async (city) => {
//   const url = `/api?q=${city}`

//   const res = await fetch(url)
//   const data = await res.json()

//   if (data.cod === '404') {
//     alert('City not found')
//     return
//   }

//   if (data.cod === 401) {
//     alert('Invalid API Key')
//     return
//   }

//   const displayData = {
//     city: data.name,
//     temp: kelvinToFahrenheit(data.main.temp),
//   }

//   addWeatherToDOM(displayData)
// }

// // Add display data to DOM
// const addWeatherToDOM = (data) => {
// //   weatherDisplay.innerHTML = `
// //     <h1>Weather in ${data.city}</h1>
// //     <h2>${data.temp} &deg;F</h2>
// //   `
// h.innerHTML = 'it is ' + temp + ' in ' + city
//   cityInput.value = ''
// }


// // Convert Kelvin to Fahrenheit
// const kelvinToFahrenheit = (temp) => {
//   return Math.ceil(((temp - 273.15) * 9) / 5 + 32)
// }

// // Event listener for form submission
// weatherForm.addEventListener('submit', (e) => {
//   e.preventDefault()

//   if (cityInput.value === '') {
//     alert('Please enter a city')
//   } else {
//     fetchWeather(cityInput.value)
//   }
// })

// // Initial fetch
// fetchWeather('Miami')
    

    </script>
</body>

</html>
